<template>
  <div class="home">
    <Sidebar></Sidebar>
    <AddForm></AddForm>
  </div>
</template>

<script>
// @ is an alias to /src
import Sidebar from '@/components/Sidebar.vue'
import AddForm from '@/components/AddForm.vue'

export default {
  components: {
    Sidebar,
    AddForm
  }
}
</script>


<style lang="scss">
  
</style>
