<template>
  <form class="s_add-form" @submit.prevent>
    <div class="s_add-form__wrap">
      <router-link to="/">
         <button class="s_add-form__prev">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.36358 6.36358C0.0121076 6.71505 0.0121076 7.2849 0.363579 7.63637L6.36357 13.6364L7.63636 12.3636L3.27277 7.99997L16 7.99998L16 5.99998L3.27277 5.99997L7.63636 1.63638L6.36357 0.363586L0.36358 6.36358Z" fill="#222222"></path>
          </svg>
        </button>
      </router-link>
      <div class="s_add-form__edit-items">
        <div class="s_add-form__top">
          <div class="s_add-form__col-input s_add-form__col-input--id">
            <label class="s_add-form__label">
              <span class="s_add-form__label-text">№</span>
              <input type="number" name="id" class="s_add-form__input" placeholder="###" v-model="id">
              <transition name="slide-fade">
                <strong v-show="validate && id.length == 0" class="s_add-form__error">Введите ID</strong>
              </transition>
            </label>
          </div>
          <div class="s_add-form__col-input s_add-form__col-input--title">
            <label class="s_add-form__label">
              <input type="text" name="title" class="s_add-form__input" placeholder="Design Title" v-model="title">
              <transition name="slide-fade">
                <strong v-show="validate && title.length == 0" class="s_add-form__error">Введите название</strong>
              </transition>
            </label>
          </div>
        </div>
        <div class="s_add-form__file-wrap">
          <div class="s_add-form__images">
            <div class="s_add-form__img-file">
              <img :src="image" alt="">
            </div>
          </div>
          <label for="file" class="s_add-form__label s_add-form__label--file">
            <span class="s_add-form__btn-add"></span>
            <transition name="slide-fade">
              <strong v-show="validate && image.length == 0" class="s_add-form__error">Выберите картинку</strong>
            </transition>
          </label>
          <input id="file" name="file" type="file" class="s_add-form__file-inp" @change="onFileChange">
        </div>
        <div class="s_add-form__col-input s_add-form__col-input--link">
          <label class="s_add-form__label">
            <span class="s_add-form__label-text">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8536 1.85362C10.7629 0.944314 12.2372 0.944298 13.1465 1.85359C14.0558 2.7629 14.0558 4.23717 13.1465 5.14648L10.1465 8.14648C9.23721 9.05579 7.76292 9.05579 6.85361 8.14647L6.14651 8.85358C7.44634 10.1534 9.55379 10.1534 10.8536 8.85358L13.8536 5.85359C15.1535 4.55376 15.1535 2.44631 13.8536 1.14649C12.5538 -0.153349 10.4463 -0.153301 9.1465 1.14651L7.14652 3.14646C6.95126 3.34172 6.95126 3.6583 7.14652 3.85356C7.34178 4.04883 7.65836 4.04883 7.85363 3.85357L9.8536 1.85362ZM4.85362 6.85358C5.76292 5.94427 7.2372 5.94427 8.14651 6.85358L8.85362 6.14647C7.55378 4.84664 5.44634 4.84664 4.14651 6.14647L1.1465 9.14648C-0.153326 10.4463 -0.153327 12.5538 1.1465 13.8536C2.44634 15.1534 4.55378 15.1534 5.85362 13.8536L7.85362 11.8536C8.04888 11.6583 8.04888 11.3417 7.85362 11.1465C7.65835 10.9512 7.34177 10.9512 7.14651 11.1465L5.14651 13.1465C4.2372 14.0558 2.76292 14.0558 1.85361 13.1465C0.944303 12.2372 0.944304 10.7629 1.85361 9.85358L4.85362 6.85358Z" fill="#222222"></path>
              </svg>
            </span>
            <input type="text" name="link" v-model="link" class="s_add-form__input" placeholder="https://design###.horoshop.ua/">
          </label>
        </div>
      </div>
      <div class="s_add-form__btn-wrap">
        <Button :text="deleteText" :isDelete="true" :isOffset="true" @click.native="removeVal"/>
        <Button :text="saveText" type="submit" @click.native="saveDesign"/>
      </div>
    </div>
  </form>
</template>

<script>

import Button from '@/components/Button.vue';
import DesignData from '@/store';


export default {
  data() {
    return {
      saveText: 'Сохранить и закрыть',
      deleteText: 'Удалить',
      validate: false,
      image: '',
      title: '',
      id: '',
      link: ''
    }
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      let image = new Image();
      let reader = new FileReader();
      let vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    saveDesign() {
      if( this.id.toString().length > 0 && this.title.length > 0 && this.image.length > 0) {
        this.validate = true;
        let Design = {
        id: this.id,
        title: this.title,
        src: this.image
      }

      DesignData.push(Design);

      this.image = '';
      this.title = '';
      this.id = '';
      this.$router.push('/');
      }
      else {
        this.validate = true;
      }
    },
    removeVal() {
      this.image = '';
      this.title = '';
      this.id = '';
      this.validate = false;
    }
  },
  props: {
    
  },
  components: {
    Button
  }
}
</script>


<style lang="scss">
  .s_add-form {
    flex-grow: 1;
    padding-left: 17px;
    padding-top: 24px;
    padding-right: 37px;
    padding-bottom: 20px;

    &__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    &__prev {
      display: block;
      width: 100%;
      max-width: 16px;
      margin-right: 42px;

      cursor: pointer;
      border: 0;
      background: none;
      svg,
      img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: all .3s ease;
      }
      path {
        transition: all .3s ease;
      }
      &:hover, &:focus {
        outline: none;
        svg path {
          fill: #418AF2;
        }
      }
     @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    &__edit-items {
      max-width: 630px;
      width: 100%;
      margin-right: 40px;

       @media screen and (max-width: 767px) {
        margin-right: 0;
        max-width: none;
        margin-bottom: 20px;
      }

      input::-webkit-outer-spin-button, 
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number]{
        -moz-appearance: textfield
      }

    }

    .slide-fade-enter-active {
      transition: all .3s ease;
    }

    .slide-fade-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to {
      transform: translateX(10px);
      opacity: 0;
    }

    &__top {
      margin-bottom: 27px;
      display: flex;
      justify-content: flex-start;
    }

    &__col-input {
      display: flex;
      align-items: center;
      &--id {
        margin-right: 8px;
        max-width: 105px;
        width: 100%;
      }
      &--title {
        flex-grow: 1;
      }
    }

    &__label {
      position: relative;

      display: flex;
      width: 100%;
      align-items: center;
      &--file {
        width: 100%;
        max-width: 120px;
        height: 120px;
        justify-content: center;

        border: 2px dashed rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          .s_add-form__btn-add {
            &::before, &::after {
              background: #418AF2;
            }
          }
        }
      }

    }

    

    &__btn-wrap {
      display: flex;
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 100%;
        justify-content: center;
      }
    }

    &__error {
      position: absolute;
      right: 0;
      top: calc(100% + 4px);

      display: block;

      color: red;
      font-size: 10px;
      font-weight: 400;
    }

    &__btn-add {
      position: relative;

      display: block;
      width: 100%;
      max-width: 30px;
      height: 30px;
      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        display: block;
        background: #C4C4C4;
        border-radius: 1px;

        transition: all .3s ease;

        transform: translate(-50%, -50%);
      }
      &::before {
        width: 30px;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 30px;
      }
    }

    &__label-text {
      display: block;
      margin-right: 11px;

      font-size: 14px;
      font-weight: 400;
      color: #222222;
      svg, img {
        display: block;
        max-width: 100%;
        height: auto;
        path {
          fill: #222222
        }
      }
    }
    
    &__file-wrap {
      margin-bottom: 27px;
      padding-left: 26px;
      display: flex;
    }

    &__images {
      margin-right: 7px;
    }

    &__img-file {
      width: 100%;
      max-width: 300px;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &__btn-add {
      display: block;
    }

    &__input {
      display: block;
      width: 100%;
      padding: 8px 11px;

      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;

      transition: all .3s ease;
      &:focus {
        outline: none;
        border-color: #418AF2;
      }

      &::-webkit-input-placeholder {
         color: rgba(0, 0, 0, 0.2); 
      }
      &:-ms-input-placeholder { 
        color: rgba(0, 0, 0, 0.2); 
      }
      &::-ms-input-placeholder {
         color: rgba(0, 0, 0, 0.2);
      }
      &::placeholder { 
        color: rgba(0, 0, 0, 0.2); 
      }
    }

    &__file-inp {
      position: absolute;
      z-index: -1;
      top: -1000px;
      left: -1000px;
      width: 1px;
      height: 1px;

      opacity: 0;
      visibility: hidden;
      clip: rect(0, 0, 0, 0);
    }
    
    &__btn-wrap {
      margin-left: auto;
    }
  }
</style>
