<template>
  <a href="#" class="s_design" :key="settings.id">
    <div class="s_design__img-wrap">
      <img :src="settings.src" alt="" class="s_design__img">
    </div>
    <div class="s_design__head">
      <div class="s_design__id-wrap">
        <span class="s_design__id">
          {{ settings.id }}
        </span>
      </div>
      <h4 class="s_design__title">
        {{ settings.title }}
      </h4>
    </div>
  </a>
</template>

<script>
export default {
  name: 'Design',
  props: {
    settings: {
      src: String,
      id: Number,
      title: String
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .s_design {
    display: block;
    text-decoration: none;
    width: calc(100% / 4);
    padding: 10px 20px;

     @media screen and (max-width: 1199px) {
        width: calc(100% / 3);
      }

      @media screen and (max-width: 767px) {
        width: 50%;
      }

      @media screen and (max-width: 467px) {
        width: 100%;
      }

    &__img-wrap {
      position: relative;

      width: 100%;
      padding-bottom: 98%;
      margin-bottom: 16px;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        .s_design__img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 3px;
      transition: transform .3s ease;
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__id-wrap {
      display: block;
      margin-right: 8px;
      padding: 1px 8px;

      border-radius: 8px;
      background: #ffffff;
    }

    &__id {
      font-size: 11px;
      color: #000;
    }

    &__title {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
    }

  }
</style>
