<template>
  <section class="s_designes">
    <div class="s_designes__top">
      <h3 class="s_designes__title">
        {{ title }}
      </h3>
      <router-link to="/create">
        <Button text="Добавить дизайн"/>
      </router-link>
    </div>
    <div class="s_designes__wrap">
      <Design v-for="design in designes" :key="design.id" :settings="design"></Design>
    </div>
  </section>
</template>

<script>

import Button from '@/components/Button.vue';
import Design from '@/components/Design.vue';
import DesignData from '@/store';


export default {
  name: 'Designes',
  data(){
    return{
      title: 'Все дизайны',
      designes: DesignData
    }
  },
   components: {
     Button,
     Design,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .s_designes {
    flex-grow: 1;
    padding: 24px 32px;

    background: #2C3D39;
    @media screen and (max-width: 767px) {
        padding: 15px;
      }
    &__top {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__wrap {
      margin: -10px -20px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &__title {
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
</style>
